<%- include('Header') %>

    
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <!-- <h4 class="page-title">Add Admin</h4> -->
                    <h1 class="page-title">Edit Admin</h1>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" method="post" action="/EditAdminRecord" enctype="multipart/form-data">
                            <div class="card-body">
                                <h4 class="card-title">Edit Admin</h4>
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">First
                                        Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="fname" name="fname"
                                            placeholder="First Name Here" value="<%= update.fname %>" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-right control-label col-form-label">Last
                                        Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name Here" value="<%= update.lname %>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname"
                                        class="col-sm-3 text-right control-label col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="email" name="email" value="<%= UpdataAdminData.email %>" placeholder="Email Here">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname"
                                        class="col-sm-3 text-right control-label col-form-label">Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="lname" name="password"
                                            placeholder="Password Here">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname"
                                        class="col-sm-3 text-right control-label col-form-label">Gender</label>
                                    <div class="col-md-9">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="customControlValidation1" name="gender" value="male" >
                                            <label class="custom-control-label" for="customControlValidation1">Male</label>
                                        </div>
                                         <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="customControlValidation2" name="gender" value="female" >
                                            <label class="custom-control-label" for="customControlValidation2">FeMale</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="hobby"
                                        class="col-sm-3 text-right control-label col-form-label">Hobby</label>
                                    <div class="col-md-9">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="customControlAutosizing1" name="hobby" value="Riding">
                                            <label class="custom-control-label"
                                                for="customControlAutosizing1">Riding</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="customControlAutosizing2"  name="hobby" value="Cricket">
                                            <label class="custom-control-label"
                                                for="customControlAutosizing2">Cricket</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="customControlAutosizing3" name="hobby" value="Sliping">
                                            <label class="custom-control-label"
                                                for="customControlAutosizing3">Sliping</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Select
                                        City</label>
                                    <div class="col-md-9">
                                        <% var CityName=["Surat","Vadodra","Ahamdabad","Rajkot"] %>
                                            <select name="city" class="select2 form-control custom-select"
                                                style="width: 100%; height:36px;">
                                                <option value="">Select City</option>
                                                <% CityName.map((v,i)=>{ %>
                                                    <option value="<%= v %>">
                                                        <%= v %>
                                                    </option>
                                                    <% }) %>

                                            </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label
                                        class="col-sm-3 text-right control-label col-form-label">Image</label>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="validatedCustomFile" name="image">
                                            <label class="custom-file-label" for="validatedCustomFile">Choose
                                                file...</label>
                                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="cono1"
                                        class="col-sm-3 text-right control-label col-form-label">Message</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" placeholder="Enter your massage" name="massage"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>

            </div>

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->


        <%- include('Footer') %>