<%- include('../header') %>

    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <div class="row">

                <div class="col-md-6">
                    <div class="card p-4 shadow col-7 m-5 position-absolute" style="height: 350px; left: 20%; top: 10%;">
                        <h2 class="card-title  m-4" style="font-size: 40px; font-weight: 500;">Edit Sub-Category
                        </h2>
                        <% if(locals.message?.success) { %>
                            <div class="alert alert-success">
                                <%= locals.message?.success %>
                            </div>
                            <% } %>

                                <form method="post" action="/category/updatecategory" class="form-horizontal">
                                    <input type="hidden" name="editid" value="<%= single?.id %>" />

                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="fname"
                                                class="col-sm-3 text-right control-label col-form-label">First
                                                Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="category"
                                                    value="<%= single?.category %>" placeholder="Category">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="border-top">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                    </div>



                </div>

            </div>
            <!-- editor -->

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    <%- include('../footer') %>