<%- include('../header') %>

    <body class="d-flex align-items-center justify-content-center bg-light position-relative">
        <div class="card p-4 shadow col-7 m-5 position-absolute" style=" left: 20%; top: 10%;">
            <h2 class="card-title text-center mb-2" style="font-size: 40px; font-weight: 500;">View Category</h2>

            <% if(locals?.message?.success) { %>
                <div class="alert alert-success w-50" role="alert">
                    <%= locals?.message?.success %>
                </div>
                <% } %>

                    <div class="card">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Srno</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach((val,index)=>{ %>
                                    <tr>
                                        <td>
                                            <%= ++index %>
                                        </td>
                                        <td>
                                            <%= val?.category %>
                                        </td>
                                        <td>
                                            <a href="/category/deleteCategory?id=<%= val?.id %>"
                                                class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></a>

                                            <a href="/category/editcategory?id=<%= val?.id %>"
                                                class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
                                        </td>
                                        <td>

                                            <% if(val?.status=="active" ) { %><a
                                                    href="/category/changestatus?id=<%= val?.id %>&status=deactive"
                                                    class=" btn btn-success btn-sm">
                                                    <%= val?.status %>
                                                </a>
                                                <% } else { %>
                                                    <a href="/category/changestatus?id=<%= val?.id %>&status=active"
                                                        class="btn btn-warning btn-sm">
                                                        <%= val?.status %>
                                                    </a>
                                                    <% } %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
        </div>
    </body>

    <%- include('../footer') %>